img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #e6b3be;
    width: 100%;
    overflow-x: hidden;
}

p, h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
    width: 32.5%;
    text-align: center;
    padding: 0;
    border: 1px solid black;
    background-color: lightskyblue;
    height: 50px;
    font-size: 250%;
    overflow: hidden;
}

.bg-image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#content {
    position: relative;
}

#cute_toast {
    z-index: -1;
    opacity: .5;
}

#menu_tab {
    border-left: 0;
    border-right: 0;
}